<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="90"
        [showUnits]="false"
        [title]="'Ofimatica'" 
        [titleColor]="'black'"  
        [titleFontSize]="'20px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="90"
        [showUnits]="false"
        [title]="'HTML'" 
        [titleColor]="'black'"  
        [titleFontSize]="'25px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="90"
        [showUnits]="false"
        [title]="'JS/CSS'" 
        [titleColor]="'black'"  
        [titleFontSize]="'20px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="90"
        [showUnits]="false"
        [title]="'Angular/MySQL'" 
        [titleColor]="'black'"  
        [titleFontSize]="'15px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
</div>
