<div class="row">
    <h1>Habilidades Duras & Blandas</h1>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="90"
        [showUnits]="false"
        [title]="'Inglés'" 
        [titleColor]="'black'"  
        [titleFontSize]="'25px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="90"
        [showUnits]="false"
        [title]="'HTML/MySQL'" 
        [titleColor]="'black'"  
        [titleFontSize]="'20px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="90"
        [showUnits]="false"
        [title]="'JS/CSS'" 
        [titleColor]="'black'"  
        [titleFontSize]="'20px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="90"
        [showUnits]="false"
        [title]="'Angular/GitHub'" 
        [titleColor]="'black'"  
        [titleFontSize]="'15px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="90"
        [showUnits]="false"
        [title]="'Solución de problemas'" 
        [titleColor]="'black'"  
        [titleFontSize]="'13px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="90"
        [showUnits]="false"
        [title]="'Trabajo en equipo'" 
        [titleColor]="'black'"  
        [titleFontSize]="'15px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="85"
        [radius]="90"
        [showUnits]="false"
        [title]="'Comunicación Asertiva'" 
        [titleColor]="'black'"  
        [titleFontSize]="'13px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="90"
        [showUnits]="false"
        [title]="'Integridad'" 
        [titleColor]="'black'"  
        [titleFontSize]="'20px'" 
        [showSubtitle]="false"  
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>
</div>
