.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 250px;
    height: 200px;
    box-shadow: 0px 10px 30px #6b6e75;
}
img{
    width: 45px;
}
.redes{
    margin-right: 0.5em;
    margin-top: 126px;
}
.btn{
    border-width: medium;
}