<div class="row">
    <h1>Estudios Cursados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudios Primarios:</h2><br/>
                <h3>(Egreso 1982)</h3>
                    <p>Escuela Normal Nacional Dalmacio Vélez Sarsfield. 
                        Villa Dolores.(Cba).
                    </p>
            </li>
            <li>
                <h2>Estudios Secundarios:</h2><br/>
                <h3>(Egreso 1987)</h3>
                    <p>
                        Escuela Normal Nacional Dalmacio Vélez Sarsfield. Villa Dolores. Cba.
                    </p>
                        
            </li>
            <li>
                <h2>Estudios Terciarios</h2><br/>
                    <p>
                        “Analista Programador “ obtenido en el Instituto Superior Pascal 
                        (ISP) en el  año 1.990. Promedio Gral.:  8,50.<br/> 
                        “Analista de Sistemas “ obtenido en el Instituto Superior Pascal                                                     
                        (ISP) en el  año 1.991. Promedio Gral.:  8,38.<br/>
                        “Analista Mayor de Sistemas “ obtenido en el Instituto Superior Pascal  
                        (ISP) en el  año 1.990. Promedio Gral.:  8,36.
                    </p>
            </li>
            <li>
                <h2>Estudios Universitarios:</h2><br/>
                    <p>
                        “Licenciatura en Sistemas” obtenido en la Universidad C.A.E.C.E. 
                        (Centro de Altos Estudios en Ciencias Exactas) en Capital Federal 
                        el 07 de Diciembre de 1.994. Promedio Gral. : 8,63.<br/>
                        “Profesorado Universitario en Sistemas” obtenido en la Universidad Agustín 
                        Maza en Mendoza el 09 de Marzo de 2.018.  Promedio Gral. : 9,54.
                    </p>
            </li>
            <li>
                <h2>Postitulos:</h2><br/>
                    <p>
                        Postitulo en Educación y TIC (Escuela Secundaria) dictado por el Ministerio 
                        de Educación de la Nación, Aprobado el 13/09/2015. Coloquio final presencial: 10.
                    </p>
            </li>
        </ul>
    </div>
</div>

