<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio Jurídico / Inmobiliaria:</h1><br/>
                <h3>(Desde el año 1.991 hasta setiembre de 1.997,  7 años).</h3>
                    <p>Estudio en el que me desempeñé como encargada 
                        del área realizando tareas administrativas, 
                        administración de propiedades (cobro y liquidación 
                        de alquileres,  gestión de cobranza de cartera de 
                        morosos,  muestra de propiedades, control  y archivo 
                        de impuestos), convenios y contratos de todo tipo, 
                        operaciones bancarias, mantenimiento  y capacitación 
                        referente a software en los equipos de computación, 
                        supervisión de tareas de gestor a cargo.
                    </p>
            </li>
            <li>
                <h1>Banco Roela S.A.:</h1><br/>
                <h3>(desde marzo de 1.998 hasta octubre de 2.008, 10 años).</h3>
                    <p>Banco en el que formé parte del Departamento de Legales 
                        que funciona en la casa central de esta Institución. 
                        Ocupé el cargo de Administrativa Senior, estando a 
                        mi cargo un espectro de  tareas muy variado:  atención 
                        del conmutador telefónico, atención a clientes, carga 
                        y manejo de datos en el sistema bancario, caja del  
                        sector, cobranzas extrajudiciales, elaboración y manejo 
                        de cédulas de notificación, carga de términos y 
                        perenciones,  escritos judiciales, cálculo y confección 
                        de planillas judiciales según regulación de Sentencia, 
                        oposición de excepciones  sobre cálculos de planilla, 
                        listados e informes mensuales para otros sectores del  
                        Banco (créditos, auditoría, gerencia, presidencia), 
                        actualización e  instalación de software específico del 
                        sector, backup periódico de bases de datos y archivos de 
                        trabajo, capacitación al personal del software utilizado 
                        en el sector, organización y archivo de todo tipo de 
                        documentación (carpetas, biblioratos, biblioteca). 
                    </p>
            </li>
            <li>
                <h1>Desempeño Laboral Docente:</h1><br/>
                <h3>(Desde el año 2.013 hasta la fecha. 10 años).</h3>
                    <p>- I.P.E.T. 249 – Nicolás Copernico:  Me  desempeñé como  
                        profesora del espacio curricular “Sistemas y  Organizaciones” 
                        en 6to año del Nivel  Medio en 2013 y 2014.<br/>
                        - I.P.E.T. 57 – Martín Rivadavia:  Me  desempeñé como  profesora 
                        del espacio curricular “Base de Datos I y II” en 6to año del Nivel  
                        Medio en 2013 y 2014.<br/>
                        - I.P.E.T y M. 319 – Roberto Fontanarrosa:  Me  desempeñé como  
                        profesora de los espacios curriculares  “Introducción a la 
                        Programación“ en 4to Año,  “Informática Aplicada a procesos” en 
                        5to. Año  y “Mantenimiento de Hardware” en 6to. Año  del Nivel  
                        Medio en 2013.<br/>
                        - I.P.E.T y M. 310 – Puerto Argentino:  Me  desempeñé como  
                        profesora del espacios curricular “Informática Aplicada a procesos” 
                        en 5to. Año  del Nivel  Medio en 2013.<br/>
                        - I.P.E.M 376 –Nelson Mandela:  Ingresé a esta Institución en 
                        2013 y me  desempeño actualmente  como  profesora de los espacios 
                        curriculares  “Matemática” en 1er. Año;  “T.I.C.” en 4to. Año; “EOI 
                        Base de Datos I”,  “Desarrollo de Soluciones Informáticas” y “FVT – 
                        Informática” en 5to. Año;  y “Matemática”, “Aplicaciones Informáticas” 
                        y “EOI Base de Datos II”  en 6to. Año  del Nivel  Medio.
                    </p>
            </li>
        </ul>
    </div>
</div>
