.gradient-custom {
    /* fallback for old browsers */
    background: #0a7551;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(11, 235, 104), rgb(71, 74, 78));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(11, 235, 104), rgba(71, 74, 78))
    }